@tailwind base;
@tailwind components;
@tailwind utilities;

 :root {
  --foreground-rgb: 0, 0, 0;
  --foreground-hex: #ffffff;
  --background-start-rgb: 214, 219, 220;
  --background-start-hex: #070D09;
  --background-end-rgb: 255, 255, 255;
  --background-end-hex: #1c201d;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*/

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  /* * {
    @apply border-border;
  } */
  /* body {
    @apply font-cvd;
  } */

  /* * {
    @apply text-white;
  } */

  /* body {
    background: linear-gradient(
        to bottom,
        transparent,
        var(--background-end-hex)
      )
      var(--background-start-hex);
  }  */

  @font-face {
    font-family: 'ClashGrotesk-Variable';
    src: url('/fonts/ClashGrotesk-Variable.woff2') format('woff2'),
         url('/fonts/ClashGrotesk-Variable.woff') format('woff'),
         url('/fonts/ClashGrotesk-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
  }
}

@layer components {
  .wrapper {
    @apply max-w-6xl mx-auto px-4;
  }
}